<div id="hero-carousel" class="carousel slide animated fadeIn" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carouse" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>

    <div class="carousel-inner  ">
        <div class="carousel-item active c-item">
            <img src="https://cdn.discordapp.com/attachments/808905974240772147/1132939037032845423/6184795f1ffc2.jpeg" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder ">Mesa Personal</h1>
                <P class="text-uppercase fs-3 mt-5">Si te quieres tomar un tiempo para relajarte este es la mejor opcion que podras tener</P>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://cdn.discordapp.com/attachments/808905974240772147/1132939521273638922/restaurante-lujo-2.jpg" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder">Mesa para dos Personas</h1>
                <p class="text-uppercase fs-3 mt-5">Pasa un buen momento con una persona que aprecias mucho.</p>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://cdn.discordapp.com/attachments/808905974240772147/1132940731670077471/portada.jpg" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder">Mesa Familiar</h1>
                <p class="text-uppercase fs-3 mt-5">Mira lo bien que se sienten. Ven y difruta con tu familia una cena agradable</p>

            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://cdn.discordapp.com/attachments/808905974240772147/1132941826135965716/618009c393889_fotoprincipal-Grotta-Palazzese-restaurante-italia-blu-1600x950.jpg" class="d-block w-100 c-img" alt="Slide 4">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder">Mesa Vip </h1>
                <p class="text-uppercase fs-3 mt-5">Sientete como en casa con lo mas lujoso y mejor que te podemos ofrecer.</p>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://cdn.discordapp.com/attachments/808905974240772147/1132942573405745152/restaurantes-de-lujo-ibiza.jpeg" class="d-block w-100 c-img" alt="Slide 5">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder">Mesa en la Terraza</h1>
                <p class="text-uppercase fs-3 mt-5">Difruta de una cena deliciosa ala luz de la luna </p>
            </div>
        </div>
        <ul class="top_icons carousel-caption top-0 mt-4 c-item">
            <li><a href="#"><span class="fa fa-facebook fa-2x" aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter fa-2x" aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="fa fa-linkedin fa-2x " aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="fa fa-google-plus fa-2x" aria-hidden="true"></span></a></li>
        </ul>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>