<!--  About Section  -->
<div id="about" class="container-fluid wow fadeIn" data-wow-duration="1.5s">
    <div class="row">
        <div class="col-lg-6 has-img-bg">
            <img src="assets/imgs/about-section.jpg" class="img-fluid rounded border-2" id="img-about">
        </div>
        <div class="col-lg-6">
            <div class="row justify-content-center">
                <div class="col-sm-8 py-5 my-5">
                    <h2 class="mb-4">ACERCA DE</h2>
                    <p id="p-justify">
                        En Delicias Rápidas, nos enorgullecemos de ofrecer una experiencia culinaria única y deliciosa. Somos mucho más que un restaurante de comida rápida; somos un lugar donde la pasión por la gastronomía se combina con la comodidad y la calidad.
                    </p>
                    <p id="p-justify">
                        En Delicias Rápidas, la frescura es nuestra prioridad. Utilizamos solo los ingredientes más frescos y de alta calidad en cada uno de nuestros platillos, asegurándonos de que cada bocado sea una experiencia inolvidable. Nuestro equipo de chefs expertos trabaja con pasión y creatividad para ofrecerte un menú diverso y emocionante.
                    </p>
                    <p id="p-justify">
                        Pero nuestra dedicación no se detiene allí. Nos enorgullecemos de un servicio al cliente excepcional, donde cada sonrisa cuenta y cada visita es una oportunidad para crear recuerdos agradables. Nos esforzamos por crear un ambiente cálido y acogedor para que te sientas como en casa desde el momento en que entras por nuestras puertas.
                    </p>
                    <p id="p-justify">
                        En Delicias Rápidas, también creemos en la comunidad. Formamos parte activa de nuestro vecindario y estamos comprometidos con el bienestar de la comunidad que nos ha apoyado a lo largo de los años. Creemos que dar de regreso es fundamental para el crecimiento y la armonía de nuestro entorno.
                    </p>
                    <p id="p-justify">
                        Gracias por ser parte de la familia de Delicias Rápidas. Te invitamos a disfrutar de nuestra comida excepcional y de nuestro servicio excepcional. Estamos emocionados de compartir nuestra pasión culinaria contigo y esperamos verte pronto en nuestro restaurante.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>