<div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
    <div class="row">
        <div class="col-md-6 px-5">
            <div class="container-fluid p-0">
                <img id="wallpaper" src="assets/direccion/maps.png" alt="wallpaper" class="img-fluid vw-100 rounded">
            </div>
        </div>
        <div class="col-md-6 px-5 has-height-lg middle-items">
            <h3>ENCUÉNTRANOS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt et assumenda sint aspernatur ad, nobis odio quas perferendis at cumque qui eum ut dolor repudiandae, quibusdam nihil voluptatem! Temporibus?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis voluptatibus maiores est ipsam deserunt, veniam facere optio quas voluptates eveniet itaque, distinctio expedita atque quae voluptate esse neque aperiam excepturi.<p>
            <div class="text-muted">
                <p><span class="ti-location-pin pr-3"></span> 12345 Fake ST NoWhere, AB Country</p>
                <p><span class="ti-support pr-3"></span> (123) 456-7890</p>
                <p><span class="ti-email pr-3"></span>info@example.com</p>
            </div>
        </div>
    </div>
</div>