<section>
    <div class="container bg-dark p-3">
        <h2 class="h1-responsive font-weight-bold text-center my-4">PONTE EN CONTACTO CON NOSOTROS</h2>
        <p class="text-center w-responsive mx-auto mb-5">¿Tiene usted alguna pregunta? Por favor, no dude en
            contactarnos
            directamente. Nuestro equipo se comunicará contigo en cuestión de horas para ayudarte.</p>
        <div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items my-3"
            id="book-table">
            <div class="row mb-3">
                <div class="col-md-6 col-sm-6 my-2">
                    <input type="name" class="form-control form-control-lg custom-form-control" placeholder="NOMBRE">
                </div>
                <div class="col-md-6 col-sm-6 my-2">
                    <input type="lastname" class="form-control form-control-lg custom-form-control" placeholder="APELLIDO">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 col-sm-6 my-2">
                    <input type="email" class="form-control form-control-lg custom-form-control" placeholder="EMAIL">
                </div>
                <div class="col-md-6 col-sm-6 my-2">
                    <input type="text" class="form-control form-control-lg custom-form-control"
                        placeholder="ASUNTO">
                </div>
            </div>
            <div class="row mb-6">
                <div class="col-md-12 col-sm-12 my-2">
                    <input type="message" class="form-control form-control-lg custom-form-control"
                        placeholder="MENSAJE">
                </div>
            </div>
        </div>
        <div class="container-fluid has-bg-overlay text-center text-light my-3">
            <a href="#" class="btn btn-lg btn-primary" id="rounded-btn">CONFIRMAR</a>
        </div>
    </div>
</section>