<!-- header -->
<header id="home" class="header">
    <div class="overlay text-white text-center">
        <h1 class="display-2 font-weight-bold my-3">DELICIAS RAPIDAS</h1>
        <div class="container-fluid p-0">
            <img id="wallpaper" src="assets/imgs/wallpaper.png" alt="wallpaper" class="img-fluid vw-100 rounded">
        </div>
        <h2 class="display-4 mb-5">Siempre fresco &amp; Delicioso</h2>
        <button class="btn btn-lg btn-primary" (click)="redirigirAlMenu()">Mira nuestro menú</button>
    </div>
</header>