<body>
    <h2 class="section-title mb-5">EQUIPO DE DESARROLLO</h2>
    <div class="box">
        <div class="card">
            <div class="imgBx">
                <img src="assets/devs/pic-1.jpg"
                    alt="images">
            </div>
            <div class="details">
                <h2>Jorge Garzón<br><span>Scrum Master</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="assets/devs/pic-2.jpg"
                    alt="images">
            </div>
            <div class="details">
                <h2>Nayelhy Ponce<br><span>Backend developer</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="assets/devs/pic-3.jpg"
                    alt="images">
            </div>
            <div class="details">
                <h2>Stalin Cajamarca<br><span>Backend developer</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="assets/devs/pic-4.jpg"
                    alt="images">
            </div>
            <div class="details">
                <h2>Doamel Navarrete<br><span>Frontend developer</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="assets/devs/pic-5.jpg"
                    alt="images">
            </div>
            <div class="details">
                <h2>Jarod Mendoza<br><span>Frontend developer</span></h2>
            </div>
        </div>
    </div>
</body>