<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mr-auto ml-lg-0" href="#">
            <img src="assets/icon-icon/logo-burguer.png" class="brand-img" alt="DR" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['#']" routerLinkActive="active">Especialidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['reserva']" routerLinkActive="active">Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['galeria']" routerLinkActive="active">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['infor-about']" routerLinkActive="active">Blog</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <a class="btn btn-primary ml-xl-4" (click)="login()">Ingresar</a>
            </form>
        </div>
    </div>
</nav>