<div class="container-tarjetas">
    <h2 class="section-title mb-5">TESTIMONIOS DE CLIENTES SATISFECHOS</h2>
</div>
<div class="container-tarjetas">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-dark">
                <div class="card-body text-white d-flex align-items-center">
                    <img src="assets/testimonial/test-1.jpg" alt="pic" class="img-fluid rounded-circle me-3"
                        style="width: 100px; height: 100px;">
                    <div>
                        <h5 class="card-title">Laura Gomez</h5>
                        <h6 class="card-subtitle mb-2">Escritora</h6>
                        <p class="card-text">"Estoy encantada con la experiencia en Delicias Rápidas. La comida es
                            deliciosa y siempre fresca. El servicio es excepcional y el personal es amable y atento.
                            ¡Definitivamente volveré!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-dark">
                <div class="card-body text-white d-flex align-items-center">
                    <img src="assets/testimonial/test-2.jpg" alt="pic" class="img-fluid rounded-circle me-3"
                        style="width: 100px; height: 100px;">
                    <div>
                        <h5 class="card-title">Carlos Mendez</h5>
                        <h6 class="card-subtitle mb-2">Diseñador Gráfico</h6>
                        <p class="card-text">"Encontré en Delicias Rápidas el lugar perfecto para comer comida rápida de
                            alta calidad. Los platillos son variados y deliciosos, y la presentación es impecable. ¡Sin
                            duda, mi restaurant favorito!"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-dark">
                <div class="card-body text-white d-flex align-items-center">
                    <img src="assets/testimonial/test-3.jpg" alt="pic" class="img-fluid rounded-circle me-3"
                        style="width: 100px; height: 100px;">
                    <div>
                        <h5 class="card-title">Ana Perez</h5>
                        <h6 class="card-subtitle mb-2">Estudiante</h6>
                        <p class="card-text">"¡Qué maravilloso lugar para disfrutar de una comida rápida deliciosa! Los
                            sabores son increíbles y el ambiente es muy acogedor. Es el sitio ideal para pasar un rato
                            agradable con amigos y familiares."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>