<footer class="bg-dark text-white">
    <footer>
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3">Delicias rápidas</h5>
                    <p id="p-justify">
                        Gracias por ser parte de la familia de Delicias Rápidas. Te invitamos a disfrutar de nuestra
                        comida excepcional y de nuestro servicio excepcional.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3">Preguntas frecuentes</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <a href="#!">¿Cuáles son sus Precios?</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!">¿Dónde entregamos?</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!">¿Quiénes somos?</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3">Horarios de atención</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Lunes - Viernes</td>
                                <td>8am - 9pm</td>
                            </tr>
                            <tr>
                                <td>Sábado - Domingo</td>
                                <td>8am - 1am</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3">Redes sociales</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <a href="#!">
                                <i class="bi bi-facebook" style="color: #3b5998;"></i> @deliciasrapidas
                            </a>
                        </li>
                        <li class="mb-1">
                            <a class="iconos" href="#!">
                                <i class="bi bi-instagram" style="color: #ac2bac;"></i> @deliciasrapidas
                            </a>
                        </li>
                        <li class="mb-1">
                            <a href="#!">
                                <i class="bi bi-whatsapp" style="color: #25d366;"></i> +123 4567 890
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>Realizado por el <a href="/devs">Grupo N° 7</a> - Tecnologías web © 2023 Restaurante
                Delicias Rápidas. Todos los derechos reservados.</p>
        </div>
    </footer>
</footer>